/* DeskripsiKomsel.css */

.deskripsi-komsel {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  .judul {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .judul h1 {
    font-size: 50px;
    margin: 20px;
    color: black;
    font-weight: 700;
  }
  
  .judul h2 {
    font-size: 35px;
    margin: 20px;
    color: black;
  }
  
  .deskripsi-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .deskripsi-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: px;
    padding: 15px;
  }
  
  .info p {
    margin: 10px;
  }
  
  .info p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }

  