.footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Plus Jakarta Sans', Sans-serif;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  
  .copyright {
    font-size: 14px;
    color: white;
  }
  